OPENAI_API_KEY=your_data
TIKTOK_ACCESS_TOKEN=your_data
TIKTOK_APP_ID=your_data
TIKTOK_APP_SECRET=your_data
TIKTOK_ADVERTISER_ID=your_data
TIKTOK_IDENTITY_ID=your_data
MONGO_URL=mongodb://mongo:27017/ai_image_ads_development # use the same
RAILS_ENV=development
PORT=3000